# Firebase Console Configuration:
VITE_FIREBASE_API_KEY=AIzaSyCXCeJ-MvkPJPR6a7F38zCs8VVZA8-udU4
VITE_FIREBASE_AUTH_DOMAIN=velopay-a1ec6.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=velopay-a1ec6
VITE_FIREBASE_STORAGE_BUCKET=velopay-a1ec6.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=923271873933
VITE_FIREBASE_APP_ID=1:923271873933:web:103f31fa5e2149551129c4
